{
  "defaultNetwork": "testnet",
  "gaId": "UA-XXXXXXXXX-X",
  "fbPixelId": "XXXXXXXXXXXXX",
  "serviceReceiver": {
    "mainnet": "0x8DeBB5B9b492F28C781736685A917e261f0840d2",
    "testnet": "0x8DeBB5B9b492F28C781736685A917e261f0840d2"
  }
}
